# LISTA 11 - PANDAS SERIES (VERSIÓN SIMPLIFICADA)

## Ejercicios sobre Series (columnas individuales)

**Nota:** Estos ejercicios están simplificados para enfocarse en:
- Acceder a una Series (columna)
- Cálculos en Series
- value_counts() para contar valores
- Filtrar Series

In [ ]:
import pandas as pd
import numpy as np

# Cargar iris
iris = pd.read_csv("0.Datos/iris.csv")
print(iris.head())

---

## Ejercicio 1: Acceder a una Series

1.1) Accede a la columna 'sepal_length' como una Series

In [ ]:
# Tu código aquí

1.2) ¿Cuál es el tipo de dato?

In [ ]:
# Tu código aquí

1.3) Muestra los primeros 5 valores

In [ ]:
# Tu código aquí

---

## Ejercicio 2: Estadísticas de una Series

2.1) Calcula el promedio de 'sepal_length'

In [ ]:
# Tu código aquí

2.2) Calcula el mínimo y máximo

In [ ]:
# Tu código aquí

2.3) Calcula la desviación estándar

In [ ]:
# Tu código aquí

2.4) ¿Cuántos valores tiene la Series?

In [ ]:
# Tu código aquí

---

## Ejercicio 3: value_counts() - Contar valores únicos

3.1) Cuenta cuántas muestras hay de cada especie

In [ ]:
# Tu código aquí

3.2) ¿Cuáles son los valores únicos de 'species'?

In [ ]:
# Tu código aquí

3.3) ¿Cuántos valores únicos hay?

In [ ]:
# Tu código aquí

---

## Ejercicio 4: Filtrar una Series

4.1) Obtén solo los valores de 'sepal_length' mayores a 5

In [ ]:
# Tu código aquí

4.2) ¿Cuántos valores son mayores a 5?

In [ ]:
# Tu código aquí

4.3) Obtén el promedio de los valores mayores a 5

In [ ]:
# Tu código aquí

---

## Ejercicio 5: Operaciones matemáticas en Series

5.1) Multiplica 'sepal_length' por 2

In [ ]:
# Tu código aquí

5.2) Suma 10 a 'sepal_width'

In [ ]:
# Tu código aquí

5.3) Divide 'petal_length' entre el máximo valor

In [ ]:
# Tu código aquí

---

## Ejercicio 6: Casos prácticos

6.1) **Dataset de salarios:**
- Crea una Series con salarios: [2000, 2500, 3000, 1800]
- Calcula: total, promedio, mínimo, máximo

In [ ]:
# Tu código aquí

6.2) **Calificaciones:**
- Crea una Series: [85, 90, 78, 92, 88]
- Cuenta cuántas están por encima de 85

In [ ]:
# Tu código aquí

6.3) **Aumento de sueldo:**
- Series de sueldos actuales
- Calcula nuevos sueldos con aumento del 10%

In [ ]:
# Tu código aquí