# LISTA 11 - PANDAS SERIES (VERSIÓN SIMPLIFICADA)

## Ejercicios sobre Series (columnas individuales)

**Nota:** Estos ejercicios están simplificados para enfocarse en:
- Acceder a una Series (columna)
- Cálculos en Series
- value_counts() para contar valores
- Filtrar Series

In [1]:
import pandas as pd
import numpy as np

# Cargar iris
iris = pd.read_csv("0.Datos/iris.csv")
print(iris.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

---

## Ejercicio 1: Acceder a una Series

1.1) Accede a la columna 'sepal_length' como una Series

In [2]:
# Tu código aquí
iris["sepal.length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

1.2) ¿Cuál es el tipo de dato?

In [3]:
# Tu código aquí
iris["sepal.length"].dtype

dtype('float64')

1.3) Muestra los primeros 5 valores

In [4]:
# Tu código aquí
iris["sepal.length"].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal.length, dtype: float64

---

## Ejercicio 2: Estadísticas de una Series

2.1) Calcula el promedio de 'sepal_length'

In [5]:
# Tu código aquí
iris["sepal.length"].mean()

np.float64(5.843333333333334)

2.2) Calcula el mínimo y máximo

In [7]:
# Tu código aquí
print(iris["sepal.length"].max())
print(iris["sepal.length"].min())

7.9
4.3

2.3) Calcula la desviación estándar

In [8]:
# Tu código aquí
iris["sepal.length"].std()

np.float64(0.828066127977863)

2.4) ¿Cuántos valores tiene la Series?

In [9]:
# Tu código aquí
len(iris["sepal.length"])

150

---

## Ejercicio 3: value_counts() - Contar valores únicos

3.1) Cuenta cuántas muestras hay de cada especie

In [10]:
# Tu código aquí
iris["sepal.length"].value_counts()

sepal.length
5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.0     6
6.1     6
5.6     6
4.8     5
6.5     5
4.6     4
5.2     4
6.9     4
6.2     4
7.7     4
4.4     3
5.9     3
6.8     3
7.2     3
4.7     2
6.6     2
4.3     1
4.5     1
5.3     1
7.0     1
7.1     1
7.6     1
7.3     1
7.4     1
7.9     1
Name: count, dtype: int64

3.2) ¿Cuáles son los valores únicos de 'species'?

In [11]:
# Tu código aquí
set(iris["sepal.length"])

{4.3,
 4.4,
 4.5,
 4.6,
 4.7,
 4.8,
 4.9,
 5.0,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 5.8,
 5.9,
 6.0,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 6.7,
 6.8,
 6.9,
 7.0,
 7.1,
 7.2,
 7.3,
 7.4,
 7.6,
 7.7,
 7.9}

3.3) ¿Cuántos valores únicos hay?

In [12]:
# Tu código aquí
len(set(iris["sepal.length"]))

35

---

## Ejercicio 4: Filtrar una Series

4.1) Obtén solo los valores de 'sepal_length' mayores a 5

In [13]:
# Tu código aquí
print(iris["sepal.length"][iris["sepal.length"] > 5])

0      5.1
5      5.4
10     5.4
14     5.8
15     5.7
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 118, dtype: float64

4.2) ¿Cuántos valores son mayores a 5?

In [14]:
# Tu código aquí
print(len(iris["sepal.length"][iris["sepal.length"] > 5]))

118

4.3) Obtén el promedio de los valores mayores a 5

In [15]:
# Tu código aquí
print((iris["sepal.length"][iris["sepal.length"] > 5]).mean())

6.129661016949153

---

## Ejercicio 5: Operaciones matemáticas en Series

5.1) Multiplica 'sepal_length' por 2

In [16]:
# Tu código aquí
iris["sepal.length"]*2

0      10.2
1       9.8
2       9.4
3       9.2
4      10.0
       ...
145    13.4
146    12.6
147    13.0
148    12.4
149    11.8
Name: sepal.length, Length: 150, dtype: float64

5.2) Suma 10 a 'sepal_width'

In [17]:
# Tu código aquí
iris["sepal.length"]+10

0      15.1
1      14.9
2      14.7
3      14.6
4      15.0
       ...
145    16.7
146    16.3
147    16.5
148    16.2
149    15.9
Name: sepal.length, Length: 150, dtype: float64

5.3) Divide 'petal_length' entre el máximo valor

In [18]:
# Tu código aquí
iris["sepal.length"]/ iris["sepal.length"].max()

0      0.645570
1      0.620253
2      0.594937
3      0.582278
4      0.632911
         ...
145    0.848101
146    0.797468
147    0.822785
148    0.784810
149    0.746835
Name: sepal.length, Length: 150, dtype: float64

---

## Ejercicio 6: Casos prácticos

6.1) **Dataset de salarios:**
- Crea una Series con salarios: [2000, 2500, 3000, 1800]
- Calcula: total, promedio, mínimo, máximo

In [19]:
# Tu código aquí
salarios = pd.Series([2000, 2500, 3000, 1800])

print("Total", salarios.sum())
print("Promedio", salarios.mean())
print("Máximo", salarios.max())
print("Mínimo", salarios.min())

Total 9300
Promedio 2325.0
Máximo 3000
Mínimo 1800

6.2) **Calificaciones:**
- Crea una Series: [85, 90, 78, 92, 88]
- Cuenta cuántas están por encima de 85

In [20]:
# Tu código aquí
calificaciones = pd.Series([85, 90, 78, 92, 88])

print(len(calificaciones[calificaciones > 85]))

3

6.3) **Aumento de sueldo:**
- Series de sueldos actuales
- Calcula nuevos sueldos con aumento del 10%

In [21]:
# Tu código aquí
salarios = pd.Series([2000, 2500, 3000, 1800])

nuevos_salarios = salarios * 1.1

print(nuevos_salarios)

0    2200.0
1    2750.0
2    3300.0
3    1980.0
dtype: float64