# LISTA 11 - PANDAS BÁSICOS (VERSIÓN SIMPLIFICADA)

## Ejercicios sobre lectura y exploración de DataFrames

**Nota:** Estos ejercicios están simplificados para enfocarse en:
- Crear DataFrames
- Leer archivos CSV
- Explorar estructura del DataFrame
- Seleccionar datos

In [1]:
import pandas as pd
import numpy as np

---

## Ejercicio 1: Crear DataFrames

1.1) Crea un DataFrame con datos de 3 personas (nombre, edad, ciudad)

In [3]:
# Tu código aquí
# Usa pd.DataFrame con un diccionario
# Ejemplo: {'nombre': [...], 'edad': [...], 'ciudad': [...]}
from faker import Faker

fake = Faker()

data = []

for i in range(3):
    name = fake.name()
    age = fake.random_int(min=18, max=80)
    city = fake.city()
    person = {
        "nombre": name,
        "edad": age,
        "ciudad": city
    }

    data.append(person)

df = pd.DataFrame(data)
print(df)

               nombre  edad      ciudad
0  Christina Anderson    30   Cooperton
1      Cynthia Fuller    65    Janefort
2      Mark Whitehead    59  Gomezhaven

1.2) ¿Cuál es la forma (shape) del DataFrame? (filas, columnas)

In [4]:
# Tu código aquí
df.shape

(3, 3)

---

## Ejercicio 2: Leer archivos CSV

2.1) Lee el archivo 'iris.csv' de la carpeta '0.Datos'

In [5]:
# Tu código aquí
# Usa pd.read_csv("0.Datos/iris.csv")
# Guarda el resultado en una variable 'df'

iris = pd.read_csv("0.Datos/iris.csv")
print(iris.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

2.2) ¿Cuántas filas y columnas tiene el dataset?

In [6]:
# Tu código aquí
iris.shape

(150, 5)

2.3) ¿Cuáles son los nombres de las columnas?

In [8]:
# Tu código aquí
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='str')

---

## Ejercicio 3: Exploración del DataFrame

3.1) Muestra las primeras 3 filas

In [9]:
# Tu código aquí
iris.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

3.2) Muestra las últimas 3 filas

In [10]:
# Tu código aquí
iris.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

3.3) Muestra información del DataFrame (tipos de datos, nulos, etc.)

In [12]:
# Tu código aquí
iris.info()

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    str
dtypes: float64(4), str(1)
memory usage: 6.0 KB

---

## Ejercicio 4: Seleccionar columnas

4.1) Selecciona solo la columna 'sepal_length'

In [17]:
# Tu código aquí
print(iris[["sepal.length"]])

     sepal.length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

4.2) Selecciona dos columnas: 'sepal_length' y 'sepal_width'

In [16]:
# Tu código aquí
print(iris[["sepal.length","sepal.width"]])

     sepal.length  sepal.width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

---

## Ejercicio 5: Seleccionar filas por posición

5.1) Selecciona las primeras 5 filas

In [19]:
# Tu código aquí
iris.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

5.2) Selecciona las filas de la posición 10 a 15

In [ ]:
# Tu código aquí
iris[10:16] # 0 index

    sepal.length  sepal.width  petal.length  petal.width variety
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa

---

## Ejercicio 6: Cálculos básicos

6.1) ¿Cuál es el promedio de 'sepal_length'?

In [23]:
# Tu código aquí
iris["sepal.length"].mean()

np.float64(5.843333333333334)

6.2) ¿Cuál es la suma total de 'petal_length'?

In [25]:
# Tu código aquí
iris["petal.length"].sum()

np.float64(563.7)

6.3) ¿Cuál es el valor máximo y mínimo de 'sepal_width'?

In [26]:
# Tu código aquí
print("Máximo: ",iris["sepal.width"].max())
print("Mínimo: ",iris["sepal.width"].min())

Máximo:  4.4
Mínimo:  2.0

---

## Ejercicio 7: Casos prácticos

7.1) **Crear dataset de ventas:**
- Ciudades: Madrid, Barcelona, Valencia
- Vendedor: Ana, Bruno, Carlos
- Ventas: 1000, 1500, 1200

In [27]:
# Tu código aquí
# Crea un DataFrame y muestra sus primeras filas

data = {
    "Ciudad": ["Madrid", "Barcelona", "Valencia"],
    "Vendedor": ["Ana", "Bruno", "Carlos"],
    "Ventas": [1000, 1500, 1200]
}

ventas = pd.DataFrame(data)

ventas.head()

      Ciudad Vendedor  Ventas
0     Madrid      Ana    1000
1  Barcelona    Bruno    1500
2   Valencia   Carlos    1200

7.2) ¿Cuál es el total de ventas?

In [28]:
# Tu código aquí
ventas["Ventas"].sum()

np.int64(3700)

7.3) ¿Cuál es el promedio de ventas?

In [29]:
# Tu código aquí
ventas["Ventas"].mean()

np.float64(1233.3333333333333)